body {
  margin: 0 auto;
  overflow:hidden;
  user-select: all;
  height: 500px;
  overflow: auto;
  user-select: none;
  font-size: 90%;
}

#container {
  min-height: 100%;
  position: relative;
  margin: 0;
}

main {
  margin: 10px 0 0;
  padding-bottom: 5px;
  width: 500px;
  background-color: white;
  height: 450px;
  overflow: auto;
}

.row {
  margin-bottom: 0;
}

#save {
  display: table;
  margin: 20px auto;
  padding-left: 30px;
  padding-right: 30px;
}

#save:hover {
  background-color: var(--primary-hover);
}

#check {
  color: #9bff9b;
  display: none;
  position: absolute;
}

.input-field {
  margin-bottom: 0;
}

#add {
  display: table;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

#add:hover {
  background-color: var(--primary-hover);
}

#added {
  color: #9bff9b;
  display: none;
  position: absolute;
}

label:hover {
  color: #2b2b2b;
}

form {
  margin-top: 0;
}

hr {
  margin: 20px;
}

h2 {
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
}

#savedTitles {
  margin: 20px 0 0px;
}


ul.description {
  margin: 0 20px 20px;
}

ul.description > li {
  list-style-type: disc;
}

ul.collection {
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
}

.collection > li {
  list-style: none;
  font-size: 14px;
  overflow: hidden;
  padding-top: 5px;
}

.collection > li:hover {
  background: rgba(0, 0, 128, 0.1);
}

.collection > li > a { 
  padding-left: 5px;
  line-height: 22px;
}

#keyboard { 
  cursor: pointer;
  color: var(--primary);
  transition: color 0.2s;
  display: table;
  font-size: 30px;
  margin: 0 auto;
}

#keyboard:hover {
  color: #5eacef;
}

.editable-content {
  padding: 3px 5px;
  cursor: text;
}

.editable-content:after {
  content: '';
  background: url('../images/pencil.svg') top / 8px 8px no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.material-icons.red-icon {
  cursor: pointer;
  color: #ff6767;
  transition: color 0.2s;
  padding: 0 3px;
}

.material-icons.red-icon:hover {
  color: #ff1f1f;
}

footer {
  background:var(--primary);
  height: 60px;
  padding-top: 10px;
  color: white;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chip {
  height: 20px;
  line-height: 20px;
  background: white;
  transition: background-color 0.2s;
  margin:0;
}

.row .col {
  padding: 0 0.2em;
}

.container {
  margin-bottom: 5px;
}

.chip:hover {
  background-color: #dde7ff;
}

.chip>img {
  height: 20px;
  width: 20px;
}

.tabs>.tab>a {
  color: var(--primary);
  text-align: center;
  display: inline-block;
  width: 100%;
}


#defaultOptions p{
  margin-left: 10px;
  line-height: 1.2em;
  margin-bottom: 0;
}

strong {
  color: rgb(102, 102, 102);
}

code {
  background: rgba(246,246,246,0.3);
  padding: .1em .25em;
  border: solid 1px rgba(51,51,51,0.12);
  border-radius: .3em;
  hyphens: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}

/* CSS overrides */
.tabs .tab a:hover, .tabs .tab a.active {
  color: var(--primary);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(178, 211, 246, 0.2);
}

.tabs .indicator {
  background-color: var(--primary-hover);
}

.collapsible {
  box-shadow: none;
}

.secondary-content {
  margin-right: 5px;
}


[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
  font-size: 0.95rem;
  line-height: 1.2em;
}
